@font-face {
    font-family: "Libertine";
    src: url('LinLibertine_R.woff');
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(130, 130, 130, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 82, 82, 0.6);
    outline: 0 none;
}

.libertine {
    font-family: "Libertine" !important;
}

.nomargin {
    margin: 0 !important;
}

.width100 {
    width: 100% !important;
}

.width90 {
    width: 90% !important;
}

.margin-top40 {
    margin-top: 40px;
}

.margin-top60 {
    margin-top: 60px;
}

.center {
    text-align: center;
}

.well.well-white {
    background-color: #fbfbfb !important;
    border-color: #cccccc !important;
}

.no-style {
    color: black !important;
}

.no-style:hover {
    text-decoration: none;
}

.page-list {
    max-height: 450px;
    overflow-y: auto;
}

.page-title {
    color: black !important;
    font-size: 16px;
}

.edit-list {
    list-style: none;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    border-top: 0px !important;
}

.edit-item {
    color: black !important;
    font-weight: bold;
}

.edit-item:hover {
    color: black !important;
}

.small {
    font-size: 12px;
}
footer a {
    color: black !important;
}
