@font-face {
    font-family: "Libertine";
    src: url('../font/LinLibertine_RZah.ttf');
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(100, 100, 100, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(50, 50, 50, 0.6);
    outline: 0 none;
}

.libertine {
    font-family: "Libertine" !important;
}

.nomargin {
    margin: 0 !important;
}

.margin-left10 {
    margin-left: 10px !important;
}

.width100 {
    width: 100% !important;
}

.width90 {
    width: 90% !important;
}

.height100 {
    height: 100% !important;
}

.padding-top10 {
    padding-top: 10px;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top40 {
    margin-top: 40px;
}

.margin-top60 {
    margin-top: 60px;
}

.margin-top80 {
    margin-top: 80px;
}

.font13 {
    font-size: 13px;
}

.font17 {
    font-size: 17px;
}

.font20 {
    font-size: 20px;
}

.font42 {
    font-size: 42px;
}

.center {
    text-align: center;
}

.well.well-white {
    background-color: #fbfbfb !important;
    border-color: #bbbbbb !important;
}

.no-style {
    color: #333 !important;
}

.no-style:hover {
    text-decoration: none;
}

.small {
    font-size: 12px;
}

.black {
    color: #333 !important;
}

.bold {
    font-weight: bold !important;
}

.img-author {
    border-radius: 1000px 1000px 1000px 1000px;
    height: 100px;
    width: 100px;
    margin: 5px;
}

.home-icon {
    font-size: 100px;
    height: 100px;
    width: 100px;
}

.home-icon i {
    line-height: 100px !important;
    background-image: none !important;
}

.whole-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fefefe;
    top: 0px;
    left: 0px;
    z-index: 100;
}

#spin {
    height: 100%;
    width: 100%;
}

.block {
    text-align: center;
    margin: 20px;
    height: 100%;
}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
    display: inline-block;
    vertical-align: middle;
}

ul.inline-list {
    list-style: none;
    padding: 0;
    margin: 5px 0 5px 0;
    float: left;
    width: 100%;
}

ul.inline-list li{
    display: block;
    float: left;
    margin-right: 15px;
}

@media(min-width: 768px) {
    .page-list {
        max-height: 450px;
        overflow-y: auto;
    }
}

.page-list {
    position: relative;
}

.page-title {
    position: relative;
    color: #333 !important;
    font-size: 16px;
}

.edit-list {
    list-style: none;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    border-top: 0px !important;
    padding: 0px;
}

.edit-item-li {
    cursor: pointer;
    padding: 10px;
}

.edit-item-li:hover {
    background: #EEEEEE;
}

.edit-item {
    color: #333 !important;
    font-weight: bold;
}

.edit-item:hover {
    color: #333 !important;
}

footer {
    font-size: 12px;
}

a {
    color: black !important;
}

.wikilinks {
    padding-right: 50px;
}

.wikilinks a {
    color: #333 !important;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
}

.orglogo {
    max-height: 80px;
    margin: 0;
}
